@font-face {
    font-family: 'League_Gothic';
    src: url("./fonts/League_Gothic.otf");
}

@font-face {
    font-family: 'ProximaNova';
    src: url("./fonts/ProximaNova-Regular.otf");
}


html{
    overflow-x: hidden;
}
